# Android
ADR_NDK=$HOME/Library/Android/sdk/ndk-bundle
ADR_HOST_ARCH=darwin-x86_64
ADR_GCC_VERSION=4.9
ADR_API_VERSION=24

ADR_PATH=${ADR_NDK}/toolchains/llvm/prebuilt/${ADR_HOST_ARCH}/bin

ADR32_TARGET=arm-linux-androideabi
ADR32_SYSROOT=${ADR_NDK}/platforms/android-${ADR_API_VERSION}/arch-arm
ADR32_TOOLCHAIN_LIB=${ADR_NDK}/toolchains/${ADR32_TARGET}-${ADR_GCC_VERSION}/prebuilt/${ADR_HOST_ARCH}/lib/gcc/${ADR32_TARGET}/4.9.x/

ADR64_TARGET=aarch64-linux-android
ADR64_SYSROOT=${ADR_NDK}/platforms/android-${ADR_API_VERSION}/arch-arm64
ADR64_TOOLCHAIN_LIB=${ADR_NDK}/toolchains/${ADR32_TARGET}-${ADR_GCC_VERSION}/prebuilt/${ADR_HOST_ARCH}/lib/gcc/${ADR64_TARGET}/4.9.x/